<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Classic Models Shop</title>
    <link th:href="@{/css/bulma.min.css}" rel="stylesheet"></link>
</head>
<body>
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Classic Models
            </h1>
            <h2 class="subtitle">
                Office info
            </h2>
        </div>
    </div>
</section>

<div class="container">
    <div class="block"></div>
    <div class="block">
        <p th:text="${office.addressLine1}"></p>
    </div>
    <div class="notification block">
        <h5 class="is-size-5">Office Workers</h5>
    </div>
    <table class="table">
        <tr>
            <th>Employee Number</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Phone Extension</th>
            <th>Email</th>
            <th>Office</th>
            <th>Boss</th>
            <th>Job Title</th>
        </tr>
        <tr th:each="employee: ${employees}">
            <td th:text="${employee.employeeNumber}"></td>
            <td th:text="${employee.lastName}"></td>
            <td th:text="${employee.firstName}"></td>
            <td th:text="${employee.extension}"></td>
            <td th:text="${employee.email}"></td>
            <td th:text="${employee.office}"></td>
            <td th:text="${employee.boss}"></td>
            <td th:text="${employee.jobTitle}"></td>
        </tr>
    </table>
</div>
</body>
</html>